.mantine-Tabs-tab[data-active="true"] {
    color: var(--mantine-primary-color-6);
    background-color: var(--mantine-primary-color-0); 
}

.mantine-Tabs-tab[data-active="true"] .mantine-Tabs-tabLabel {
    font-weight: 600 !important;
}

.mantine-Input-wrapper .mantine-Input-input {
    --input-padding-inline-start: 1rem;
    --input-padding-inline-end: 1rem;
}

.mantine-Input-wrapper[data-with-left-section] {
    --section-size: 410px;
}

.mantine-Input-wrapper[data-with-left-section] .mantine-Input-input {
    --input-padding-inline-start: 3.25rem;
    --input-padding-inline-end: 2.25rem;
}

.mantine-Input-wrapper[data-with-left-section] .mantine-Input-section {
    --section-size: 3.5rem;
}

.mantine-Input-input[data-variant="filled"] {
    --input-bg: #F4F6FA;
    --input-height: 48px !important;   
}