html, body {
    height: 100%;
    font-family: var(--ui-font-body);
    color: var(--ui-text-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

.mantine-Tabs-list::before {
    content: none !important;
}

.mantine-Tabs-tab[data-active="true"] {
    color: var(--ui-primary-accent);
    background-color: var(--ui-tabs-active-bg);
}

.mantine-Tabs-tab[data-active="true"] .mantine-Tabs-tabLabel {
    font-weight: 600 !important;
}

.mantine-Input-wrapper .mantine-Input-input {
    --input-padding-inline-start: 1rem;
}

.mantine-Input-wrapper[data-with-left-section] {
    --section-size: 410px;
}

.mantine-Input-wrapper[data-with-left-section] .mantine-Input-input {
    --input-padding-inline-start: 3.25rem;
    --input-padding-inline-end: 2.25rem;
}

.mantine-Input-wrapper[data-with-left-section] .mantine-Input-section {
    --section-size: 3.5rem;
}

.mantine-Input-input[data-variant="filled"] {
    --input-bg: var(--ui-surface-elevated);
    --input-height: 48px !important;   
}

[data-navbar-item]:hover {
    background-color: var(--ui-primary-accent-soft-bg);
}

[data-footer-back-button]:hover,
[data-footer-logout]:hover {
    background-color: var(--ui-primary-accent-soft-bg);
}

.mantine-Table-thead {
    position: relative;
    z-index: 0;
}

.mantine-Table-thead:where([data-sticky]) .mantine-Table-th {
    background-color: var(--ui-table-header-bg);
}

.mantine-Table-thead:where([data-sticky])::before {
    content: none;
}

.mantine-Table-tbody .mantine-Table-tr {
    position: relative;
    z-index: 0;
}

.mantine-Table-tbody .mantine-Table-tr[data-hover]:hover {
    background-color: transparent;
}

.mantine-Table-tbody .mantine-Table-tr[data-hover]:hover .mantine-Table-td {
    background-color: var(--ui-table-hover-bg);
}